﻿@model MvcCompanyEF.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recruitments)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Employee</th>
                    <th>Date of Hire</th>
                    <th>Status</th>
                </tr>
                @foreach (var item in Model.Recruitments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.FirstName)
                            @Html.DisplayFor(modelItem => item.Employee.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.HireDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Status)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeptID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
