﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Company</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Main Page</h2>
        <p>
            MVC Company is a sample application that interacts with a local DB using the EF 6.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>